* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  header {
    background-color: #96b1ab;
    padding: 30px;
    text-align: center;
    font-size: 15px;
    color: black;
  }
  
 .video {
    float: left;
    width: 30%;
    height: 300px;
    background: #d87e7e;
    padding: 20px;
  }
  
  video {
    width: 145px;
    border: 5px solid white;
  }
  
  article {
    float: right;
    padding: 20px;
    width: 70%;
    background-color: #aae8c5;
    height: 300px;
  }
  
  footer {
    background-color: #b8a2e9;
    padding:5px;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  img {
    width: 120px;
    height: 180px;
    border: 5px solid white;
    margin-top: 25px;
  }
  
  .text {
    text-align: center;
    padding-top: 30px;
  }
  
  header h1 {
    border-bottom: 4px solid;
    width: 220px;
    font-style: italic;
    color: #ffffff;
  }
 
  nav {
    padding: 5px;
    text-align: center;
    width: auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #2d583e;
    font-size: 1.1em;
    transition: color 0.3s ease;
    border-bottom: 2px solid;
}

nav ul li a:hover {
    color: #ffffff;
}
