* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  header {
    background-color: #96b1ab;
    padding: 30px;
    text-align: center;
    font-size: 15px;
    color: black;
  }
  
 .vdo {
    float: left;
    width: auto;
    height: auto;
    background: #d87e7e;
    padding: 20px;
   
  }
  
  video {
    width: 150px;
    border: 5px solid white;
    text-align: center;
    padding-top: AUTO;
    padding-bottom: auto;
  }
  
  article {
    float: right;
    padding: 20px;
    width: 100%;
    background-color: #aae8c5;
    
  }
  
  footer {
    background-color: #b8a2e9;
    padding:5px;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  img {
    width: 120px;
    height: 180px;
    border: 5px solid white;
    margin-top: 25px;
  }
  
  .text {
    text-align: center;
    padding-top: 30px;
    font-size: 15pt;
  }
  
  header h1 {
    border-bottom: 4px solid;
    width: 220px;
    font-style: italic;
    color: #ffffff;
  }
 
  nav {
    padding: 5px;
    text-align: center;
    width: auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #2d583e;
    font-size: 1.1em;
    transition: color 0.3s ease;
    border-bottom: 2px solid;
}

nav ul li a:hover {
    color: #ffffff;
}

.container{
  display:flex;
  
}

@media(max-width:360px){
  .t{
    font-size: 10pt;
  }
}

@media(max-width:700px){
  .text{
    font-size: 14pt;
  }

  .t{
    font-size: 11pt;
  }
}
